.container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.formcontainer {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 50%;
  text-align: center;
  box-sizing: border-box;
}

.formcontainer h2 {
  margin-bottom: 20px;
}

.comp {
  margin-bottom: 20px;
  width: 750px;
}

.labels {
  display: block;
  font-weight: bold;
  text-align: left
}

textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.checkboxgroup {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 10px;
}

.checkboxgroup label {
  display: flex;
  align-items: center;
  margin-right: 10px;
  margin-bottom: 20px;
}

input{
  display: none;
}

.uploadbutton {
  background-color: #3498db;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
}

.submitbutton {
  background-color: #27ae60;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
}
