.container{
  display: flex;
  gap: 7rem;
  flex-direction: column;
  padding-top: 4rem;
}

.container-sm{
  display: flex;
  gap: 1rem;
  flex-direction: column;
  background-color: #eee;
  width: 80rem;
  margin: 0 auto;
}

.container-md{
  display: flex;
  justify-content: center;
  gap: 2rem;
  background-color: #eeeeee87;
  flex-direction: column;
  width: 85rem;
}

.hero-1{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 6rem;
}

.hero-1-flex{
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding: 2rem;
  width: 30rem;
}

.hero-1-flex p{
  line-height: 1.3;
}

h2{
  font-size: 3rem;
  color: black;
}

.hero-span{
  display: flex;
  gap: 6rem;
}

.hero-span span {
  color: #345B63;
  font-size: 3rem;
  font-weight: bold;
}

span p{
  font-size: 20px;
}


.hero-1 img {
  height: 30rem;
  max-width: 40rem;
}

.container-flex{
  display: flex;
  flex-direction: column;
  padding: 2rem 2rem 2rem 2rem;
  gap: 1rem;
}
