
input{
  border: 10px solid black;
}

.search {
  justify-self: center;
  border: none;
  padding: 1.1rem 1.6rem;
  font-size: 1.8rem;
  border-radius: 0.7rem;
  width: 40rem;
  transition: all 0.3s;
  margin: 2rem ;
  height: 3rem;
  background-color: rgba(177, 177, 177, 0.297);
  /* background-color: var(--color-background-900); */
  font-size: 1.3rem;
  
}

.search::placeholder {
  color: black;
}

.search:focus {
  outline: none;
  box-shadow: 0 2.4rem 2.4rem rgba(0, 0, 0, 0.1);
  transform: translateY(-2px);
}