.containerss {
  display: flex;
  width: 100%;
  height: 100vh;
}

.left {
  width: 50%;
  background-color: #eee;
  /* background-image: url('/public/office4.jpg'); */
  background-repeat: no-repeat;
  background-size: auto;
  background-size: cover;
  background-image: linear-gradient(
      rgba(36, 42, 46, 0.352),
      rgba(36, 42, 46, 0.482)
    ),
    url("../public/office4.jpg");
}

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  padding: 2rem;
}

.account-name {
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 1.5rem;
}

label {
  font-size: 1rem;
  font-weight: 500;
  display: block;
  margin-bottom: 0.5rem;
  color: #333;
  text-align: left;
  width: 50%;
}

input {
  width: calc(100% - 2em);
  padding: 1em;
  margin-bottom: 1.5rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
  box-sizing: border-box;
}

select {
  width: calc(100% - 2em);
  padding: 1em;
  margin-bottom: 1.5rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
  box-sizing: border-box;
}

.button {
  background-color: var(--primary-blue);
  color: #fff;
  border: none;
  padding: 1em 2em;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 5px; 
  transition: background-color 0.3s;
}

.button:hover {
  background-color: #001f3f;
}
