* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #444;
}

.logo {
height: 5.2rem;
}

.btn {
  color: inherit;
  padding: 0.8rem 1.2rem;
  font-size: 1rem;
  border: 2px groove;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 700;
}

.primary-btn {
  background-color: white;
  color: black;
}

.secondary-btn {
  background-color: #bce0ca;
  color: black;
  border: none;
}

p{
  color: #666;
}