* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #444;
}

.logo {
  height: 5.2rem;
}

.btn {
  color: inherit;
  padding: 0.8rem 1.2rem;
  font-size: 1.2rem;
  border: 2px groove;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 700;
  text-decoration: none;
}

.primary-btn {
  background-color: white;
  color: black;
}

.secondary-btn {
  background-color: #bce0ca;
  color: black;
  border: none;
}

.link {
  display: inline-block;
  text-decoration: none;
  padding: o.4rem 0.8rem 0.4rem 0.8rem;
  text-transform: capitalize;
}

p {
  color: #666;
}

.pay-btn {
  font-size: 1.4rem;
}


/* ///// */

.paddings {
  padding: 1.5rem;
}

.innerWidth {
  width: 100%;
}

.flexCenter {
  display: flex;
  row-gap: 2rem;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.flexStart {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.flexEnd {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.flexColCenter {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.flexColStart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.flexColEnd {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.primaryText {
  color: #1f3e72;
  font-weight: bold;
  font-size: 2rem;
}

.secondaryText {
  color: rgb(140 139 139);
  font-size: 0.9rem;
}

.orangeText {
  color: orange;
  font-size: 1.5rem;
  font-weight: 600;
}

/* media queries */
@media (min-width: 1536px) {
  .innerWidth {
    max-width: 1280px;
    margin: auto;
  }
}

@media (min-width: 640px) {
  .paddings {
    padding: 4rem;
  }
}

@media (min-width: 1280px),
(min-width: 768px) {
  .paddings {
    padding: 2rem;
  }
}

@media (max-width: 640px) {
  .primaryText {
    font-size: 1.5rem;
  }

  .orangeText {
    font-size: 1.2rem;
  }
}

.button {
  font-weight: 500;
  padding: 0.6rem 1.4rem;
  color: white;
  background: var(--blue-gradient);
  border: none;
  border-radius: 4px;
  transition: all 300ms ease-in;
}

.button:hover {
  cursor: pointer;
  transform: scale(1.1);
}